@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;600;700&display=swap');

:root {
  --red: #ff4747;
  --yellow: #fff12f;
  --violet: #7d4ee4;
  --green: #00FF00;
  --blue: #1ee5ff;
  --pink: #ff289e;
  --orange: #ff8b0f;
  --dark: #000;
  --light: #fff;
  --gray: #929292;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Readex Pro',
    sans-serif;
  color: var(--light);
}

body {
  background: var(--dark);
  transition: all 300ms ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

/* Cabeçalho */

.header {
  width: 100vw;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.header__title {
  font-size: 3.25rem;
}

.header__sign {
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

/* Linha */

hr {
  background: var(--gray);
  width: 90vw;
  height: 1px;
  margin: 1.25rem 0;
}

/* Nome do Signo */

span {
  font-weight: 700;
}

/* Container Principal */
.main__sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.main__bottom {
  display: flex;
  width: 100vw;
  justify-content: center;
}

/* Container Sobre */
.about {
  margin-right: 20px;
  width: 50%;
  height: 18rem;
  padding: 1.55rem;
}

.about__sign {
  margin: 0 0 1.25rem;
  background: none;
  font-weight: 300;
  color: var(--light);
  font-size: 2.5rem;
}

.about__paragraph {
  background: none;
  text-align: left;
  color: var(--gray);
  font-weight: 200;
  font-size: 1rem;
}

/* Container Signo */

.sign {
  height: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1.875rem;
  background: var(--dark);
  background: radial-gradient(114.87% 249.28% at -4.11% -6.32%, #000000 0%, #00000000 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.104);
}

.sign__img {
  border-radius: 1.25rem;
  filter: invert(100%);
  height: 70%;
  align-self: center;
}

.date {
  padding: 10px 20px;
  margin: 0.62rem;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.date__p {
  font-size: 0.875rem;
  color: var(--dark);
}

/* Container Colors */

.colors {
  width: fit-content;
  height: fit-content;
  padding: 0.62rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.colors__title {
  font-size: 1.875rem;
}

.color--one,
.color--two {
  cursor: pointer;
  width: 3.75rem;
  margin: 1.25rem;
  height: 3.75rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.color--one {
  animation-name: colorOne;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.color--two {
  animation-name: colorTwo;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Setas para mudar de Signo */

.changePage {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  height: 4rem;
}

.backPage,
.nextPage {
  position: relative;
  padding: 5px 0;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Containers Caracteristicas*/

.caracteristics {
  width: 65%;
  padding: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.caracteristics__title {
  font-size: 2rem;
  margin: 0 0 1.25rem 0;
  font-weight: 300;
}

.caracteristics__p {
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--gray);
}

/* Footer */

/* Botão voltar ao topo */

.arrow {
  position: relative;
  bottom: 0;
  left: 50%;
  margin: 20px 0;
  border: solid var(--light);
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  transition: all 200ms;
  animation: arrowAnime 2s ease-in-out infinite backwards;
}

.goTop {
  transform: rotate(-135deg) translate(0%, -100%);
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 200ms;
}

/* Containers */
.about,
.colors,
.caracteristics {
  border-radius: 1.875rem;
  background: var(--dark);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.104);
  background: radial-gradient(114.87% 249.28% at -4.11% -6.32%, #141414 0%, rgba(35, 35, 35, 0) 100%);
}

footer div {
  margin-top: 20px;
}

/* Animações */

/* Hovers */
.arrow:hover,
.goTop:hover {
  transform: rotate(-135deg) translate(0%, -100%) scale(1.4);
}

.hovers div {
  transition: all ease-in-out 100ms;
}

.hovers div:hover {
  transform: scale(1.1);
}

/* Hover Mudança de pagina */

.changePage div p::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--gray);
  height: 1px;
}

.changePage div p:hover::after {
  width: 100%;
}

.changePage div p::after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

.changePage div p:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframe */

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    background: rgb(240, 240, 240);
  }
}

/* Animações de Entrada */

@keyframes colorOne {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes colorTwo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes arrowAnime {
  0% {
    bottom: -10px;
  }


  50% {
    bottom: 20px;
  }

  100% {
    bottom: -10px;
  }
}

/* Loader Css */

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: calc(50% - 50px);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ff289e;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff289e transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Esconder Tela / Loading */

.hide {
  display: none;
}

/* Media Query */

@media only screen and (max-width: 848px) {

  .main__sign {
    flex-direction: column;
    width: 95%;
    height: 40%;
    margin-top: 20px;
  }

  .caracteristics,
  .colors,
  .date,
  .about {
    padding: 20px;
  }

  .header {
    width: 95%;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__sign,
  .header__title {
    margin: 0;
    text-align: center;
  }

  .about__sign,
  .caracteristics__title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  span {
    font-size: 20px;
  }

  h2 span {
    font-size: 2rem;
  }

  .main__bottom {
    height: 40%;
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  .sign {
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
  }

  .about {
    width: 100%;
    height: 100%;
    margin: 20px 0;
  }

  .sign__img {
    display: none;
  }

  .caracteristics {
    height: fit-content;
    width: 95%;
    margin: 20px 0;
  }

  .colors div {
    transform: scale(0.9);
    margin: 5px;
  }

  .colors__title {
    font-size: 20px;
  }

  .colors {
    width: fit-content;
    height: fit-content;
    padding: 10px;
  }

  .hovers {
    display: flex;
    flex-direction: row;
  }

  .changePage p {
    font-size: 16px;
  }

  .changePage {
    height: fit-content;
  }

  .about__paragraph,
  .caracteristics__p {
    text-align: center;
  }
}